
.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

/*_____HEADER____*/
.header__container {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px;
}

.header__logo {
  display: block;
  width: 148px;
  height: 105px;
  justify-self: center;
}

.header__list {
  list-style: circle;
  display: flex;
  gap: 32px;
  padding-left: 20px;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.header__contacts {
  width: 240px;
  height: 98px;
  display: flex;
  flex-direction: column;
  justify-self: end;
  justify-content: space-between;
  align-items: flex-start;
  font-style: normal;
  max-width: 240px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.3px;
}

.header__phone,
.header__email {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.header__phone:hover,
.header__email:hover {
  text-decoration: none;
}

.header__address-text {
  margin-top: 0px;
}

/*_____COVER____*/
.cover {
  min-height: 757px;
  background-image: url('../images/cover.jpg');
  background-position: center;
  background-size: cover;
  position: relative;
  color: #fff;
}

.cover__container {
  position: relative;
  z-index: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 50px;
  min-height: 757px;
}

.cover__title {
  text-transform: uppercase;
  gap: 20px;
  letter-spacing: 0.3em;
  margin-top: 115px;
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
}

.aligned-text {
  display: block;
}

.aligned-text_left {
  text-align: left;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
  margin-right: -10px;
}

.cover__bottom-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}

.cover__description-text {
  font-weight: 400;
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 15px;
  width: 637px;
}

.bet-button {
  width: 256px;
  height: 51px;
  font-size: 22px;
  text-transform: uppercase;
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 32px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}


/*_____LOTS____*/
.lots {
  padding: 140px 24px;
}

.lots__title {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 40px;
  text-transform: uppercase;
}

.lots__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-bottom: 40px;
}

.lots__item {
  width: 334px;
  height: 596px;
}

.lots__link {
  text-decoration: none;
  display: block;
  height: 100%;
}

.lot-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 48px 40px;
  position: relative;
  background-size: cover;
  background-position: center;
  color: #fff;
}

.lot-card__content {
  position: relative;
  z-index: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.lot-card__title {
  font-size: 22px;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 1px;
  
}

.lot-card__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  width: 254px;
}

.lots__more {
  display: flex;
  color: #000;
  font-size: 20px;
  text-decoration: underline;
  text-underline-offset: 4px;
  
  margin-left: 40px; 
  margin-top: 30px;
}



/*_____ABOUT___*/
.about-auction {
  padding: 0 50px 140px;
}

.about-auction__container {
  display: grid;
  grid-template-columns: 240px 693px;
  gap: 72px;
  align-items: start;
  padding-left: 47px;
}

.about__logo {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.about-auction__image {
  width: 148px;
}

.about-auction__title {
  font-size: 40px;
  text-transform: uppercase;
  margin-top: 98px;
  
  font-weight: bold;
}

.about-auction__text-group {
  padding-top: 98px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  
  width: 693px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  
}

/*___FOOTER_______*/
.footer {
  padding: 0 24px 90px;
}

.footer__container {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: start;
}

.footer__address {
  width: 240px;
  height: 98px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.3px;
}

.footer__phone,
.footer__email {
  text-decoration: underline;
  text-underline-offset: 3px;
}


.footer__address-text {
  
}

.footer__nav {
  width: 164px;
  height: 64px;
  text-align: center;
  justify-self: center;
}

.footer__list {
  list-style: none;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 0; 
  margin: 0; 
}

.footer__link {
  text-decoration: underline;
  text-underline-offset: 3px;
}



.footer__social-list {
  display: flex;
  gap: 48px;
  width: 240px;
  height: 48px;
  list-style: none;
  justify-self: end;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}